*{
	border-radius: 15px;
	font-family: "monospace";
}

header {
	text-align: center;
}

nav ul li{
	display: inline;
	margin: 6%;
}
nav ul li a{
	text-decoration: none;
}
a:visited{
	color:white;
}
a:hover{
	background-color:black;
	
}
nav{
	border-radius: 0px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	
}
body div{
	border: 1px solid black;
	margin-left: 10%;
	margin-right: 10%;
	background-color: grey;
	padding-bottom: 100%;
}

input{
	display: block;
}

section{
	margin:33%;
	margin-top:16%;
}


