<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>Proba</servlet-name>
        <servlet-class>exemplo.Proba</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Proba</servlet-name>
        <url-pattern>/Proba</url-pattern>
    </servlet-mapping>
</web-app>
